@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
}

/* Elemen sembunyi di bawah sebelum di-scroll */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

/* Elemen muncul ke atas saat kena scroll */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}